In [1]:
import pandas as pd

In [18]:
user_table = pd.read_csv("Resources/steam-200k.csv", header=None)
titles_df = pd.read_csv("Resources/titles.csv")

In [19]:
user_table.columns = ["id","game_title","purchase_play","time","delete"]

In [20]:
merged_df = user_table.merge(titles_df, on = "game_title")

           id_x     game_title purchase_play  time  delete  id_y
0     151603712  Left 4 Dead 2      purchase   1.0       0    21
1     151603712  Left 4 Dead 2          play   8.9       0    21
2      59945701  Left 4 Dead 2      purchase   1.0       0    21
3      53875128  Left 4 Dead 2      purchase   1.0       0    21
4      53875128  Left 4 Dead 2          play  71.0       0    21
...         ...            ...           ...   ...     ...   ...
5779   17530772     Subnautica      purchase   1.0       0    38
5780   17530772     Subnautica          play   2.0       0    38
5781  113546110     Subnautica      purchase   1.0       0    38
5782  166669789     Subnautica      purchase   1.0       0    38
5783  166669789     Subnautica          play   2.0       0    38

[5784 rows x 6 columns]

In [41]:
user_table = pd.DataFrame(merged_df["id_x"].unique())
user_table.columns = ["id"]

In [43]:
user_table.to_csv("Resources/user_table.csv")